.Rproj.user
.Rhistory
.RData
.Ruserdata
*.jpg
*.pdf
*.png
*.emf
*.svg
*.nc
/model/test
*.jpeg
/scratch
/model/output
/model/LAI_test
/figures
/model/results
/model/full_run
*.zip
*.html
future_model/*/output/*